:root {
/* COLORS */
    --main: hsl(348, 100%, 75%);
    --main-tr: hsla(348, 100%, 75%, 0.4);
    --dark: hsl(240, 67%, 8%);
    --dark: hsl(240, 67%, 8%);
    --dark-light: hsl(240, 67%, 26%);
    --white: hsl(0, 0%, 94%);
    --grey: hsl(0, 0%, 70%);
/* TYPO */
    --font-size: 18px;

/* OTHER */
    --content-width: 1440px;
    --block-gap: 14px;

    --desktop-work-width: 85%;
}